In [1]:
# NEED TO ADD MAX TEAM CAPACITY CONSTRAINT

import pandas as pd
import numpy as np

# import the required classes and definitions from Python-MIP
from mip import Model, xsum, maximize, BINARY, INTEGER

Using Python-MIP package version 1.5.3

In [2]:
#sort the top500 by element_type so model can fill correct number of each type

top500 = pd.read_csv('top500.csv')
top500sorted = top500.sort_values('element_type')


#lists for the dream team model, sorted by position
eltype = list(top500sorted['element_type'])
form = list(top500sorted['form'])
score = list(top500sorted['total_points'])
price = list(top500sorted['now_cost'])
team = list(top500sorted['team'])
form_score = list(pd.Series(form) * pd.Series(score))

In [3]:
top500sorted.shape

(500, 53)

In [4]:
#make a list of our main columns of interest
simple_columns = ['web_name', 'element_type', 'total_points','now_cost', 'form',
                 'goals_scored', 'assists', 'clean_sheets', 'team', 'selected_by_percent']

#make a smaller df for easy viewing of dream_team
top500simple = top500sorted[simple_columns]
top500simple.shape

(500, 10)

In [5]:
#find cutoffs for the element_types

eltype_counts = top500sorted['element_type'].value_counts().sort_index()

cutoff1 = eltype_counts[1]
cutoff2 = cutoff1 + eltype_counts[2]
cutoff3 = cutoff2 + eltype_counts[3]
cutoff4 = cutoff3 + eltype_counts[4]

print(cutoff1, cutoff2, cutoff3, cutoff4)
eltype_counts

49 224 431 500

1     49
2    175
3    207
4     69
Name: element_type, dtype: int64

In [6]:
top500sorted.columns

Index(['id_', 'chance_of_playing_next_round', 'chance_of_playing_this_round',
       'code', 'cost_change_event', 'cost_change_event_fall',
       'cost_change_start', 'cost_change_start_fall', 'dreamteam_count',
       'element_type', 'ep_next', 'ep_this', 'event_points', 'first_name',
       'form', 'in_dreamteam', 'news', 'news_added', 'now_cost', 'photo',
       'points_per_game', 'second_name', 'selected_by_percent', 'special',
       'squad_number', 'status', 'team', 'team_code', 'total_points',
       'transfers_in', 'transfers_in_event', 'transfers_out',
       'transfers_out_event', 'value_form', 'value_season', 'web_name',
       'minutes', 'goals_scored', 'assists', 'clean_sheets', 'goals_conceded',
       'own_goals', 'penalties_saved', 'penalties_missed', 'yellow_cards',
       'red_cards', 'saves', 'bonus', 'bps', 'influence', 'creativity',
       'threat', 'ict_index'],
      dtype='object')

In [7]:
df = top500sorted
type(df)

pandas.core.frame.DataFrame

In [8]:
df = df.reset_index()
df

,index,id_,chance_of_playing_next_round,chance_of_playing_this_round,code,cost_change_event,cost_change_event_fall,cost_change_start,cost_change_start_fall,dreamteam_count,...,penalties_missed,yellow_cards,red_cards,saves,bonus,bps,influence,creativity,threat,ict_index
0,499,72,0.0,0.0,40349,0,0,-2,2,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
1,74,262,NaN,NaN,67089,0,0,0,0,0,...,0,0,0,44,1,231,328.2,0.0,0.0,33.0
2,410,429,0.0,0.0,79852,0,0,-1,1,0,...,0,0,0,0,0,3,0.0,0.0,0.0,0.0
3,450,558,NaN,NaN,214572,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
4,451,413,0.0,0.0,168399,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,368,514,NaN,NaN,181008,0,0,-2,2,0,...,0,0,0,0,0,6,3.0,22.6,6.0,3.1
496,200,501,100.0,100.0,169432,0,0,-3,3,0,...,0,2,0,0,1,84,109.4,52.3,121.0,28.2
497,204,451,NaN,NaN,44683,0,0,-3,3,0,...,0,1,0,0,0,67,88.8,21.6,121.0,22.7
498,448,559,NaN,NaN,194798,0,0,0,0,0,...,0,0,0,0,0,0,0.0,0.0,0.0,0.0
499,0,166,NaN,NaN,101668,1,-1,7,-7,5,...,0,1,0,0,19,363,495.0,114.7,506.0,111.2

In [9]:
ars = list(df[df.team == 1].index)
avl = list(df[df.team == 2].index)
bou = list(df[df.team == 3].index)
bha = list(df[df.team == 4].index)
bur = list(df[df.team == 5].index)
che = list(df[df.team == 6].index)
cry = list(df[df.team == 7].index)
eve = list(df[df.team == 8].index)
lei = list(df[df.team == 9].index)
liv = list(df[df.team == 10].index)
mci = list(df[df.team == 11].index)
mun = list(df[df.team == 12].index)
new = list(df[df.team == 13].index)
nor = list(df[df.team == 14].index)
shu = list(df[df.team == 15].index)
sou = list(df[df.team == 16].index)
tot = list(df[df.team == 17].index)
wat = list(df[df.team == 18].index)
whu = list(df[df.team == 19].index)
wol = list(df[df.team == 20].index)

In [10]:
# The model

# define the problem data, change the profit list here
profit = form_score
weight = price
c = 830
n = len(weight)

#create an empty maximization
m = Model('team_select')

#add the binary decision variables to model m and store their references in a list x
x = [m.add_var(var_type=BINARY) for i in range(n)]

#define the objective function of this model 
m.objective = maximize(xsum(profit[i] * x[i] for i in range(n)))

#add the capacity constraints
m += xsum(weight[i] * x[i] for i in range(n)) <= c

m += xsum(x) <= 11

m += xsum(eltype[i] * x[i] for i in range(cutoff1)) >= 1
m += xsum(eltype[i] * x[i] for i in range(cutoff1)) <= 1

m += xsum(eltype[i] * x[i] for i in range(cutoff1,cutoff2)) >= 6
m += xsum(eltype[i] * x[i] for i in range(cutoff1,cutoff2)) <= 10

m += xsum(eltype[i] * x[i] for i in range(cutoff2,cutoff3)) >= 6
m += xsum(eltype[i] * x[i] for i in range(cutoff2,cutoff3)) <= 15

m += xsum(eltype[i] * x[i] for i in range(cutoff3,cutoff4)) >= 4
m += xsum(eltype[i] * x[i] for i in range(cutoff3,cutoff4)) <= 12


# max 3 per team


m += xsum(df.team[i] * x[i] for i in ars) <= 3
m += xsum(df.team[i] * x[i] for i in avl) <= 6
m += xsum(df.team[i] * x[i] for i in bou) <= 9
m += xsum(df.team[i] * x[i] for i in bha) <= 12
m += xsum(df.team[i] * x[i] for i in bur) <= 15
m += xsum(df.team[i] * x[i] for i in che) <= 18
m += xsum(df.team[i] * x[i] for i in cry) <= 21
m += xsum(df.team[i] * x[i] for i in eve) <= 24
m += xsum(df.team[i] * x[i] for i in lei) <= 27
m += xsum(df.team[i] * x[i] for i in liv) <= 30
m += xsum(df.team[i] * x[i] for i in mci) <= 33
m += xsum(df.team[i] * x[i] for i in mun) <= 36
m += xsum(df.team[i] * x[i] for i in new) <= 39
m += xsum(df.team[i] * x[i] for i in nor) <= 42
m += xsum(df.team[i] * x[i] for i in shu) <= 45
m += xsum(df.team[i] * x[i] for i in sou) <= 48
m += xsum(df.team[i] * x[i] for i in tot) <= 51
m += xsum(df.team[i] * x[i] for i in wat) <= 54
m += xsum(df.team[i] * x[i] for i in whu) <= 57
m += xsum(df.team[i] * x[i] for i in wol) <= 60



#Optimize the model
m.optimize()

# Compute the solution, a list of the selected items
selected = [i for i in range(n) if x[i].x >= 0.99]
print('selected items: {}'.format(selected))
dream_team = top500simple.iloc[selected,:]
dream_team

selected items: [44, 177, 180, 186, 188, 400, 407, 409, 434, 435, 499]

,web_name,element_type,total_points,now_cost,form,goals_scored,assists,clean_sheets,team,selected_by_percent
32,Pope,1,54,47,6.7,0,0,5,5,15.3
6,Lundstram,2,73,50,8.7,3,2,5,15,44.1
10,Pereira,2,68,64,6.7,2,0,6,9,15.4
20,Söyüncü,2,61,50,9.3,1,1,6,9,16.5
29,Tarkowski,2,56,50,9.7,1,2,5,5,2.7
1,Mané,3,92,122,8.2,8,4,3,10,40.0
15,Son,3,64,97,7.0,4,6,1,17,11.4
27,Pulisic,3,57,75,6.3,5,3,1,6,13.3
3,Abraham,4,83,80,7.3,10,2,4,6,51.0
4,Rashford,4,74,86,6.8,7,4,3,12,15.0
0,Vardy,4,104,97,10.0,12,4,6,9,41.1

In [11]:
sum(dream_team['now_cost'])

818

In [12]:
sum(dream_team['total_points'])

786